<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pharmacyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmacyApp">
        <activity
            android:name=".SellDetails"
            android:exported="false" />
        <activity
            android:name=".PurchaseDetails"
            android:exported="false" />
        <activity
            android:name=".SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".All_Report"
            android:exported="false" />
        <activity
            android:name=".ExpireSoonActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".StockMedicine"
            android:exported="false" />
        <activity
            android:name=".AddAccount"
            android:exported="false" />
        <activity
            android:name=".Accounts"
            android:exported="false" />
        <activity
            android:name=".SellMedicine"
            android:exported="false" />
        <activity
            android:name=".PurchaseMedicine2"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ShowNoteActivity"
            android:exported="false" />
        <activity
            android:name=".SubDeshboard"
            android:exported="true" />
        <activity
            android:name=".ViewMedicineActivity"
            android:exported="true" />
        <activity
            android:name=".AddMedicine"
            android:exported="true" />
        <activity
            android:name=".Manufacture"
            android:exported="true" />
        <activity
            android:name=".GenericName"
            android:exported="true" />
        <activity
            android:name=".MedicineUnit"
            android:exported="true" />
        <activity
            android:name=".MedicineType"
            android:exported="true" />
        <activity
            android:name=".PurchaseMedicine"
            android:exported="true" />
        <activity
            android:name=".MedicineCategory"
            android:exported="true" />
        <activity
            android:name=".MedicineAll"
            android:exported="true" />
        <activity
            android:name=".MainDashBoard"
            android:exported="true" />
        <activity
            android:name=".MedicineDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>